# Función map()

In [1]:
numeros = [1,5,10,23,50,33]

def doblar(numero):
    return numero*2

#Le pasamos primero la funcion que queremos aplicar, y luego la lista de numeros a lo que queremos aplicar
map(doblar, numeros)

In [11]:
m = map(doblar, numeros)

In [12]:
next(m)

2

In [13]:
next(m)

10

In [14]:
#no se ven los 2 primeros valores por que fueron recorridos
list(m)

[20, 46, 100, 66]

In [15]:
m = map(doblar, numeros)
list(m)

[2, 10, 20, 46, 100, 66]

In [16]:
list( map(lambda x:x*2, numeros))

[2, 10, 20, 46, 100, 66]

In [17]:
a = [1,2,3,4,5]
b = [6,7,8,9,10]

#Multiplicamos de forma paralela el valor de un index de una lista por el de la otra
#la a hace referencia a la x y la b a la y
list(map(lambda x,y:x*y,  a,b))

[6, 14, 24, 36, 50]

In [18]:
#Ahora con 3 listas
c = [11,12,13,14,15]
list(map(lambda x,y,z:x*y*z,  a,b,c))

[66, 168, 312, 504, 750]

In [19]:
class Persona:
    def __init__(self, nombre, edad):
        self.nombre =nombre
        self.edad =edad
    def __str__(self):
        return "{} de {} años".format(self.nombre, self.edad)

personas = [
    Persona("Juan", 35),
    Persona("Marta", 16),
    Persona("Manuel", 78),
    Persona("Eduardo", 12)
]

In [21]:
#Queremos incrementar 1 año la edad de toda la lista

def incrementar(persona):
    persona.edad+=1
    return persona
personas = map(incrementar, personas)

In [22]:
for persona in personas:
    print(persona)

Juan de 36 años
Marta de 17 años
Manuel de 79 años
Eduardo de 13 años

In [24]:
#Lambda con objetos
personas = [
    Persona("Juan", 35),
    Persona("Marta", 16),
    Persona("Manuel", 78),
    Persona("Eduardo", 12)
]

#esto representa la funcion incrementar
personas = map(lambda persona: Persona(persona.nombre, persona.edad+1), personas)

In [25]:
for persona in personas:
    print(persona)

Juan de 36 años
Marta de 17 años
Manuel de 79 años
Eduardo de 13 años