In [1]:
valor = input()

algo

In [2]:
valor

'algo'

In [3]:
valor = input()

100

In [4]:
valor

'100'

In [5]:
valor = input("Introduce un valor: ")

Introduce un valor: 100

In [6]:
valor + 100

TypeError: can only concatenate str (not "int") to str

In [7]:
valor = input("introduce un numero entero: ")

introduce un numero entero: 500

In [8]:
valor = int(valor)

In [9]:
valor

500

In [10]:
valor + 1000

1500

In [11]:
valorvalor = input("Introduce un numero entero: ")

Introduce un numero entero: 10.50

In [12]:
valor = int(valor)

In [13]:
valor

500

In [14]:
valorvalor = input("Introduce un numero entero: ")

Introduce un numero entero: 10.50

In [15]:
valor = int(valor)

In [16]:
valor

500

In [19]:
valorvalor = input("Introduce un numero entero: ")

Introduce un numero entero: 100

In [18]:
valor

500

In [20]:
valor

500

In [21]:
valor = input()

200

In [22]:
valor

'200'

In [23]:
valor = input()

10.50

In [24]:
valor

'10.50'

In [25]:
valor = int(valor)

ValueError: invalid literal for int() with base 10: '10.50'

In [26]:
valor = float(valor)

In [27]:
10 + valor

20.5

In [28]:
valor

10.5

In [29]:
valor = float(input("introduce un numero decimal o entero"))

introduce un numero decimal o entero3.14

In [30]:
valor

3.14