In [4]:
c = set()

In [5]:
c.add(1)
c.add(2)

In [6]:
c.add(3)

In [7]:
c

{1, 2, 3}

In [8]:
#Descarta un valor del conjunto
c.discard(1)

In [9]:
c.add(1)

In [10]:
c2=c

In [11]:
c2.add(4)

In [12]:
c

{1, 2, 3, 4}

In [13]:
c2 = c.copy()

In [14]:
c
c2

{1, 2, 3, 4}

In [15]:
c

{1, 2, 3, 4}

In [16]:
c2

{1, 2, 3, 4}

In [17]:
c2.discard(4)

In [18]:
c2

{1, 2, 3}

In [19]:
c

{1, 2, 3, 4}

In [20]:
#limpia conjunto
c2.clear()

In [22]:
c2.add(2)

In [25]:
c1 = {1,2,3}
c2 = {3,4,5}
c3 = {-1.99}
c4 = {1,2,3,4,5}

In [27]:
c1.isdisjoint(c3)

True

In [28]:
#indica si un set es parte de otro
c1.issubset(c4)

True

In [29]:
#Es un contendor de un conjunto
c4.issuperset(c1)

True

In [30]:
c1.union(c2) == c4

True

In [31]:
#regresa el resultado de la union de los 2 sets pero no actualiza ningun set
c1.union(c2)

{1, 2, 3, 4, 5}

In [32]:
c1

{1, 2, 3}

In [33]:
c2

{3, 4, 5}

In [34]:
#Con el update si los actualiza
c1.update(c2)

In [35]:
c1

{1, 2, 3, 4, 5}

In [36]:
c2

{3, 4, 5}

In [37]:
c1 = {1,2,3}
c2 = {3,4,5}
c3 = {-1.99}
c4 = {1,2,3,4,5}

In [38]:
#Regresa los valores del set c1 que no se encuentran en c2
c1.difference(c2)

{1, 2}

In [39]:
#Actualizara el c1, guardando los valores de este set que no se encuentran en el otro
c1.difference_update(c2)

In [40]:
c1

{1, 2}

In [41]:
c1 = {1,2,3}
c2 = {3,4,5}
c3 = {-1.99}
c4 = {1,2,3,4,5}

In [43]:
#Regresa elementos en comun entre los 2 sets
c1.intersection(c2)

{3}

In [46]:
#Devuelve todo los elementos que no coinciden entre 2 conjuntos
c1.symmetric_difference(c2)

{1, 2, 4, 5}